.col {
  width: 100%;
  text-align: center;
  &__title {
    font-size: 2.25rem;
    margin: 1em 0 0.3em 0;
    color: #87629a;
  }
  &__txt {
    line-height: 1.2;
    font-size: 1.1rem;
  }
}
.two-col {
  background-color: #136c72;
  color: #fff;
  & .h-2 {
    color: #fff;
  }
  & .p-t {
    padding-top: 1.5em;
  }
  & .col__txt.p-b {
    padding-bottom: 4em;
  }
}
.two-col .col__txt {
  padding-bottom: 1em;
}
