.hero {
  min-height: 100vh;
  padding: 11.25em 0;
  background-color: #23424a;
  color: #fff;
  &__title {
    padding-bottom: 1.3em;
    font-size: 3rem;
  }
  &__title-span {
    color: #38cfd9;
  }
  &__txt {
    padding-bottom: 0.8em;
    font-size: 1.3125rem;
    line-height: 1.6;
  }
  &__btn {
    display: inline-block;
    margin-top: 4.16em;
    padding: 0.8em 2em;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #38cfd9;
    color: #23424a;
    border-radius: 2.1875em;
    box-shadow: 0 0 1em rgba(00, 00, 00, 0.2);
    transition: 0.8s;
  }
  &__btn:hover {
    opacity: 0.78;
  }
}
